xsd-files/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/user" 
           xmlns:tns="http://example.com/user" 
           elementFormDefault="qualified">

  <xs:element name="User" type="tns:UserType"/>
  
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id" type="xs:integer"/>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="profile" type="tns:ProfileType"/>
      <xs:element name="addresses" type="tns:AddressListType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>

  <xs:complexType name="ProfileType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="dateOfBirth" type="xs:date"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressListType">
    <xs:sequence>
      <xs:element name="address" type="tns:AddressType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"/>
      <xs:element name="zipCode" type="xs:string"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="tns:AddressTypeEnum" use="required"/>
  </xs:complexType>

  <xs:simpleType name="AddressTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="home"/>
      <xs:enumeration value="work"/>
      <xs:enumeration value="billing"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
